:root {
  --first: #c4c4c4;
  --second: #14171A;
  --second-transparency: rgba(45, 48, 51, 0.8);
  --third: #404040	;
  --fourth: #303030;
}
* + * {
  margin-top: .5em;
}

html {
  box-sizing: border-box;
  font-size: calc(60% + .8vmin);
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background: var(--first);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  place-items: center center;
  line-height: .5;
}

.title {
  margin: auto;
  text-align: center;
  margin-top: -1rem;
}

.container {
  display: flex;
  position: relative ;
  justify-content: center;
  text-align: center center;
  background: var(--second-transparency);
  border-radius: 10px;
}

.main {
  margin-top: 10rem;
  width: 30rem;
  height: 12rem;
}

.auth-info {
  position: absolute;
  text-align: center;
}

.login-text {
  margin-bottom: 4rem;
}

.name {
  display: flex;
  justify-content: center;
  height: 4rem;
  width: 10rem;
  margin: auto;
  margin-bottom: 5rem;
}

.select {
  position: absolute;
  width: 16rem;
  height: 4rem;
  margin-left: 8rem;
}

.quality-algorithm {
  width: 28rem;
  height: 4rem;
  margin-top: -8vh;
  margin-left: 28rem;
  margin-right: 8rem;
}

.signal-send{
  width: 48rem;
  height: 4rem;
  margin-left: 8rem;
}

.button {
  display: inline-block;
  text-decoration: none;
  color: var(--second);
  font-size: 12px;
  padding: 8px;
  border: none;
  width: 150px;
  border-radius: 10px;
  margin-left: 2vw;
}

.login {
  max-width: 50px;
  position: relative;
  margin: auto;
}

.select-btn {
  position: relative;
  margin: auto;
}

.quality {
  max-width: 80px;
  position: relative;
  margin: auto;
}

.algorithm {
  max-width: 80px;
  position: relative;
  margin: auto;
}

.signal {
  position: relative;
  margin: auto;
}

.send {
  position: relative;
  margin: auto;
}

.refresh {
  position: relative;
  margin: auto;
}

.text {
  margin: auto;
  font-size: 12px;
  color: var(--second);
}

.quality-txt {
  color: white;
}

.algorithm-txt {
  color: white;
}

button:disabled,
button[disabled],
input:disabled,
input[disabled]{
  background-color: #fff;
  color: #666666;
  cursor: not-allowed;
}

.button:hover {
  filter:brightness(.8);
}

.button:active {
  filter:brightness(.5);
}

.table {
  display: grid;
  max-height: 35rem;
}

.styled-table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 20rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, .15);
}

.styled-table tr {
  color: #ffffff;
  text-align: left;
}

.styled-table tr th {
  background-color: var(--second);
  padding: 10px 20px;
  border-bottom: 2px solid #ffffff;
}

.styled-table tr {
  background-color: var(--third);

  text-align: center;
  border-bottom: 1px solid #dddddd;
  height: 60px;
}

.styled-table tr:nth-of-type(even) {
  background-color: var(--fourth);
}

.styled-table tr:last-of-type {
  border-bottom: 2px solid #ff0000;
}

.styled-table tr.active-row {
  font-weight: bold;
  color: #ff0000;
}

.styled-table tr:hover{
  filter:brightness(.8);
}

td.image img {
  cursor: pointer;
  transition: .2s;
}

td.image img:hover {
  filter:brightness(.8);
}